/* Poppin Fonts */
@font-face {
    font-family: 'Poppins';
    src: url('../fonts/Poppins-fonts/Poppins-Regular.eot');
    src: url('../fonts/Poppins-fonts/Poppins-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Poppins-fonts/Poppins-Regular.woff2') format('woff2'),
        url('../fonts/Poppins-fonts/Poppins-Regular.woff') format('woff'),
        url('../fonts/Poppins-fonts/Poppins-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'slick';
    src: url('../fonts/slick/slick.eot');
    src: url('../fonts/slick/slick.woff') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins-Bold';
    src: url('../fonts/Poppins-fonts/Poppins-Bold.eot');
    src: url('../fonts/Poppins-fonts/Poppins-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Poppins-fonts/Poppins-Bold.woff2') format('woff2'),
        url('../fonts/Poppins-fonts/Poppins-Bold.woff') format('woff'),
        url('../fonts/Poppins-fonts/Poppins-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins-Light';
    src: url('../fonts/Poppins-fonts/Poppins-Light.eot');
    src: url('../fonts/Poppins-fonts/Poppins-Light.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Poppins-fonts/Poppins-Light.woff2') format('woff2'),
        url('../fonts/Poppins-fonts/Poppins-Light.woff') format('woff'),
        url('../fonts/Poppins-fonts/Poppins-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins-ExtraBold';
    src: url('../fonts/Poppins-fonts/Poppins-ExtraBold.eot');
    src: url('../fonts/Poppins-fonts/Poppins-ExtraBold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Poppins-fonts/Poppins-ExtraBold.woff2') format('woff2'),
        url('../fonts/Poppins-fonts/Poppins-ExtraBold.woff') format('woff'),
        url('../fonts/Poppins-fonts/Poppins-ExtraBold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins-Italic';
    src: url('../fonts/Poppins-fonts/Poppins-Italic.eot');
    src: url('../fonts/Poppins-fonts/Poppins-Italic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Poppins-fonts/Poppins-Italic.woff2') format('woff2'),
        url('../fonts/Poppins-fonts/Poppins-Italic.woff') format('woff'),
        url('../fonts/Poppins-fonts/Poppins-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}